@charset "ISO-8859-1";
.navbarrr{
	background-color:rgba(64,224,208,100);
	padding-top:30px;
	padding-left:50px;
}
.nav-link{
	color:black;
}
.nav-img{
	width:40px;
	height:40px;
}
.pro{
	color: white;
    font-size: .80rem;
    font-family: inherit;
    margin-left: 8px;
    padding-top: 2px;
    padding-left: 6px;
    border-radius: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    background-color: #00C464;
}	
.lily{
	color: rgba(77,77,77,100);
}
.navv-link{
	color:white;
}
.btn{
	background-color: #00C464;
	color:white;
}
.has-search .form-control {
    padding-left: 2.375rem;
	width:700px;
	height:35px;
}
.search{
	padding-top:50px;
	padding-left:50px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
@media screen and (max-device-width: 540px) {
    .has-search .form-control {
    padding-left: 2.375rem;
	width:200px;
	height:35px;
}
    }
.lean{
	margin-top:170px;
	margin-left:120px;
	background-color:#ff9fb0;
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean2{
	margin-top:170px;
	margin-left:70px;
	background-color:#4c4c4c;
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean3{
	margin-top:120px;
	margin-left:120px;
	background-color:rgba(64,224,208,100);
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean4{
	margin-top:120px;
	margin-left:70px;
	background-color:#F6F6F6;
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean5{
	margin-top:120px;
	margin-left:120px;
	background-color:#ff9fb0;
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean6{
	margin-top:120px;
	margin-left:70px;
	background-color:#4c4c4c;
	border:1px solid #dddddd;
	border-radius:10px;
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
}
.lean-img{
	height:400px;
	width:320px;
}
.lean-free{
	color:white;
	text-align:center;
	margin:auto;
}
.text-free{
	color:#59c2b6;
}
.lean-coming{
	text-align:center;
	font-size: 30px;
	padding:5px;
}
.lean-coming2{
	text-align:center;
	font-size: 30px;
	padding:5px;
	color:white;
}
.lean-btn{
	background-color: rgb(255, 0, 0);
    color: white;
    border:1px solid rgb(255, 0, 0);
    border-radius:10px;
    padding:8px;
}